.empty {
  visibility: hidden;
}

.day-header,
.day {
  padding: 30px;
  text-align: center;
  border: solid black 1px;
}

.empty {
  visibility: hidden;
}

.event-circle {
  width: 1.5rem;
  height: 1.5rem;
  background-color: blue;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 0.75rem;
  position: relative;
}

.event-circle:hover .event-details {
  display: block;
}

.event-details {
  display: none;
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border: 1px solid #ccc;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 10;
  white-space: nowrap;
}

.calendar-container {
  padding: 16px;
}
.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
  align-items: center;
}
.calendar-header {
  margin-bottom: 1rem; /* Space between calendar header and the table */
}

.calendar-container .border-b {
  border-bottom: 1px solid #d1d5db; 
  margin-bottom: 1rem; 
}

.create-btn {
  margin-left: auto; 
}
.day-cell {
  position: relative;
  padding: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.day-cell.current-day {
  background-color: lightblue; 
}

.day-cell.selected-day {
  background-color: lightblue; 
}

.day-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-indicator {
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
}

.current-month {
  background-color: grey; 
}

.outside-month {
  background-color: white; 
}

.table-fixed {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0.5rem; 
}

.day-cell {
  padding: 10px;
  border: 1px solid #e5e7eb; 
  text-align: center;
  vertical-align: top;
  background-color: #f8f9fa; 
  width: 2rem; 
  height: 4.5rem; 
}

.day-cell.current-day {
  background-color: lightblue; 
  border: 2px solid #007bff; 
  border-radius: 0; 
}

.day-cell.selected-day {
  background-color: lightblue; 
  border-radius: 0; 
}

.current-month {
  background-color: #e0e0e0; 
}

.outside-month {
  background-color: #ffffff; 
}

.current-day {
  border: 2px solid #007bff; 
  border-radius: 50%;
}

.day-content {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-indicator {
  background-color: #dc3545; 
  color: #ffffff; 
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.75rem;
  position: absolute;
  top: 4px;
  right: 4px;
}



